@import "./color.scss";

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.item::before {
  content: "\002B";
  color: $slate-gray;
  transition: transform 0.3s ease-in-out;
}

.item.x::before,
.item.o::before {
  display: inline-block;
  text-rendering: auto;
  font-weight: 900;
  content: "\2717";
  transform: rotate(-360deg);
  padding-right: 5px;
  color: $black;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.item.o::before {
  content: "\2756";
}

.item.checked {
  background-color: $orange;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px #f00;
  transform: scale(1.1);
}
