@import "../../color.scss";

.error-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.content {
  width: 50%;
  height: 70%;
  overflow: hidden;
}

.error {
  display: block;
  background: $cultured-2;
  border: 1px solid $cultured;
  border-left: 3px solid $dark-red;
  color: $gunmetal;
  font-family: monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  overflow: auto;
  padding: 1em 1.5em;
  word-wrap: break-word;
}
