/* stylelint-disable scss/dollar-variable-pattern */
$white: #edf2f4;
$red: #ef233c;
$dark-red: #d90429;
$rich-black-fogra-29: #0d1b2aff;
$oxford-blue: #1b263bff;
$bdazzled-blue: #415a77ff;
$shadow-blue: #778da9ff;
$platinum: #e0e1ddff;
$cultured: #f8f9faff;
$cultured-2: #e9ecefff;
$gainsboro: #dee2e6ff;
$light-gray: #ced4daff;
$cadet-blue-crayola: #adb5bdff;
$slate-gray: #6c757dff;
$davys-grey: #495057ff;
$gunmetal: #343a40ff;
$charleston-green: #212529ff;
$orange: #ff652f;
$yellow: #ffe400;
$green: #14a76c;
$black: #272727;
$gray: #747474;
