@import "./color.scss";

body {
  margin: 0;
  background: #1b263bff;

  /* color: $rich-black-fogra-29; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $white;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(#root) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
